/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Globals
   ========================================================================== */

   html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }     
@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
}
   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Roboto";
}
section {
    border-bottom: dotted grey 1px;
}
body {
    position: relative;
}
.web-content {
    z-index: -1;
    position: absolute;
    top: 100px;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
/* ==========================================================================
   Header Section: logo + main nav
   ========================================================================== */
header {
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    color: white;
    line-height: 1;
    z-index: 1;
}
/*! Logo */
h1 {
    font-weight: 900;
    padding: 0 0 0 1em;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
/*! Main Nav */
ul {
    font-family: "Roboto";
    list-style: none;
    display: none;
    position: absolute;
}
i {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    font-size: 2em;
    padding: 0 1em 0 0;
}
i:hover ul {
    display: block;
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    padding: 1rem;
}
i:hover ul li {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: blue;
}
/* ==========================================================================
   Section: Be Random & About Us
   ========================================================================== */
.jumbotron {
    position: relative;
}
img {
    width: 100%;
}
.jumbotron-bg {
    display: block;
    position: relative;
    z-index: -10;
}
.jumbotron-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    font-size: 5.5em;
    color: white;
    line-height: 1;
    text-align: center;
    margin: 0 0 10% 0;
}
h4 {
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    border: solid white 3px;
    display: block;
    padding: 25px 30px;
    line-height: 1;
}
h4:hover {
    color: black;
    background-color: white;
}
.section-a a {
    text-decoration: none;
}
.section-a h3 {
    padding: 50px 15px 0 15px;
    margin: 0;
}
.section-a p {
    line-height: 1.5;
    font-size: 1.2em;
    padding: 0 15px;
    margin: 0 0 50px 0;
}
/* ==========================================================================
   Section: photogallery 
   ========================================================================== */
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.project {
    flex: 1 1 50%;
    position: relative;
    background-color: hsla(0,0%,100%,.8);
    border: white solid 2px;
    max-width: 50%;
}
.project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project-img {
    z-index: -20;
    display: block;
    position: relative;
}
.project:hover {
    background-color: hsla(0,0%,100%,0);	
    color: white;
}
.section-b {
    overflow: auto;
    padding: 0 15px 50px 15px;
}
.section-b h3 {
    margin: 0;
    padding: 50px 15px 15px 15px;
}
/* ==========================================================================
   Section: footer
   ========================================================================== */
.footer-banner {
    display: flex;
}
.footer-text {
    margin: auto;
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
